# Ignore system files
.DS_store
.vscode

# Ignore files related to keys
.env

# Ignore the databases and files
db/*.db


# Ignore folders
blog
blog/*.html
blog/*.md

# folder ignore.
output/hosp_cnt*
